@import 'prism.css';
/* themes */
/* When nothing is loaded, the default theme will be applied. */
/* see https://github.com/hiroppy/fusuma#themes */
/* @import 'node_modules/prismjs/themes/prism-tomorrow.css'; */
/* @import 'node_modules/prismjs/themes/prism-solarizedlight.css'; */
/* @import '@fusuma/client/assets/style/themes/pop.css'; */
/* @import '@fusuma/client/assets/style/themes/babel.css'; */
@import '@fusuma/client/assets/style/themes/webpack.css';
/* @import '@fusuma/client/assets/style/themes/node.css'; */

/* global config */
/* When you want to change the default values, please uncomment. */
/* see https://github.com/hiroppy/fusuma/blob/master/packages/client/assets/style/variables.css */
/* :root { */
/* --base-font-family: 'Roboto', 'San Francisco', helvetica, arial, sans-serif; */
/* --base-font-size: 2.4rem; */
/* --base-font-weight: 300; */
/* --base-align: center; */
/* --base-max-width: 1280px; */
/* --base-outer-margin: 24px; */
/* --base-image-width: 100%; */
/* --base-image-border-radius: 0; */
/* --h1-font-size: 5.6rem; */
/* --h2-font-size: 4rem; */
/* --h3-font-size: 3.6rem; */
/* --code-font-size: 1.8rem; */
/* --account-icon-size: 3rem; */
/* } */
:root {
  --h1-font-size: 8rem;
}

h1 {
  margin: 0.5em 0;
}

.title {
}

/* https://hiroppy.github.io/fusuma/docs/guides/slide-syntax#declaring-section-title */
.section-title {
}

.sns-box {
  margin: 20px;
  & > * {
    color: var(--gray-color);
    &:not(:first-child) {
      margin-left: 20px;
    }
  }
}

.big-picture img {
  width: 50vw;
}

.code-toolbar {
  font-size: 0.8em;
  margin: 0.5em 0;
  text-align: right;
  & button {
    background: none;
    border: 2px solid #efefef;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    opacity: 0.3;
    padding: 5px 10px;
    &:hover {
      opacity: 1;
    }
  }
}